@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner!</h1>
    <h3><a href="~/Pages/"></a> Plan a Meeting</h3>
</div>
