@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sacrament Meeting Planner!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Easy Meeting Planner</h2>
        <p>
            The sacrament meeting planner helps bishoprics be organized 
            and plan sacrament meetings all in one place. With it's easy 
            to use features, you can start planning today.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Start Planning</h2>
        <p>Click to start adding members, assignments, and meeting plans.</p>
        <p><a class="button" asp-area="" asp-controller="Sacraments" asp-action="Index">Plan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Members</h2>
        <p>Manage members and easily assign them to a sacrament meeting assignment.</p>
        <p><a class="button" asp-area="" asp-controller="Members" asp-action="Index">View Members &raquo;</a></p>
    </div>
</div>
